/* SECTION :        form             */
.about-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/contact/img/contact.png");

    background-size: cover;
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Caveat", cursive;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.about-header h2 {
    font-size: 8rem;

    color: #d9480f;
}

.about-header p {
    font-size: 4rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #ffc078;
}
