<nav>
    <ul>
        <div class="left">
            <li><a href="{% url "index" %}">Home</a></li>
            <li><a href="{% url "blog" %}">Blog</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            <li><a href="{% url "about" %}">About</a></li>
        </div>

        <div class="right">
            {% if user.is_authenticated %}

            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
            <li><a href="{% url "logout_view" %}">Logout</a></li>

            {% else %}

            <li><a href="{% url "sign_up" %}">Signup</a></li>
            <li><a href="{% url "login_view" %}">Login</a></li>

            {% endif %}
        </div>
    </ul>
</nav>
