{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}Blog{% endblock title %}

<!---->

{% block css_style %}
<!---->
<link rel="stylesheet" href="{% static "blog/css/style.css" %}">
<!---->
{% endblock css_style %}

<!---->

{% block header %}
<header class="blog-header">
    <h2>Blog</h2>
    <p>Start Learning Something New.</p>
</header>
{% endblock header %}

<!---->

{% block content %}
<section class="blog-section">
    {% for blog in blogs %}
    <article>
        <img src="{% static "img/a.jpg" %}" alt="" />

        <div>
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.description|truncatewords:30 }}</p>
            <a href="" class="read-more">Read More...</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock content %}
