{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "index/css/style.css" %}"> {% endblock css_style %}

<!---->

{% block title %} Mini Blog {% endblock title %}

<!---->

{% block header %}
<header class="index-header">
    <div>
        <h2>Take Your <span class="important">Business</span> to <span class="important">Higher</span> Ground</h2>
        <p>Get marketing tips to accelerate your business growth</p>
    </div>
</header>

{% endblock header %}

<!---->

{% block content %}

<section class="index-blog">
    {% for blog in blogs %}

    <article>
        <img src="{% static "img/a.jpg" %}" alt="">

        <div>
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.description|truncatewords:30 }}</p>

            <a href="{% url 'blog_details' blog.id %}" class="read-more">Read More...</a>
        </div>
    </article>

    {% endfor %}
</section>

{% endblock content %}

<!---->
