{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "index/css/style.css" %}"> {% endblock css_style %}

<!---->

{% block title %} Home Page (Edit later) {% endblock title %}

<!---->

{% block content %}

<section class="index-blog">
    <article>
        <img src="{% static "img/a.jpg" %}" alt="">

        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quia incidunt. Facere necessitatibus hic
                debitis reprehenderit soluta accusamus iusto ullam recusandae facilis cupiditate eveniet laudantium, assumenda
                laboriosam, ipsa quasi inventore.
            </p>

            <a href="/" class="read-more">Read More...</a>
        </div>
    </article>

    <article>
        <img src="{% static "img/a.jpg" %}" alt="">

        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quia incidunt. Facere necessitatibus hic
                debitis reprehenderit soluta accusamus iusto ullam recusandae facilis cupiditate eveniet laudantium, assumenda
                laboriosam, ipsa quasi inventore.
            </p>

            <a href="/" class="read-more">Read More...</a>
        </div>
    </article>

    <article>
        <img src="{% static "img/a.jpg" %}" alt="">

        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quia incidunt. Facere necessitatibus hic
                debitis reprehenderit soluta accusamus iusto ullam recusandae facilis cupiditate eveniet laudantium, assumenda
                laboriosam, ipsa quasi inventore.
            </p>

            <a href="/" class="read-more">Read More...</a>
        </div>
    </article>

    <article>
        <img src="{% static "img/a.jpg" %}" alt="">

        <div>
            <h3>Lorem ipsum dolor sit.</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quia incidunt. Facere necessitatibus hic
                debitis reprehenderit soluta accusamus iusto ullam recusandae facilis cupiditate eveniet laudantium, assumenda
                laboriosam, ipsa quasi inventore.
            </p>

            <a href="/" class="read-more">Read More...</a>
        </div>
    </article>
</section>

{% endblock content %}

<!---->
