{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Blog {% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->

<!---->

{% block content %}
<main class="dashboard">
    {% include "dashboard/includes/sidebar-menu.html" %}

    <section class="blog--dashboard__section">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>VIEW</th>

                    {% if perms.blog.change_blog %}
                    <th>EDIT</th>
                    {% endif %}

                    <!---->

                    {% if perms.blog.delete_blog %}
                    <th>DELETE</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for blog in blogs %}
                <tr>
                    <td>{{ blog.id }}</td>
                    <td>{{ blog.title }}</td>

                    <td><a href="{% url "blog_details" blog.id %}">👁️</a></td>
                    
                    {% if perms.blog.change_blog %}
                    <td><a href="{% url "update_blog" blog.id %}">📝</a></td>
                    {% endif %}

                    <!---->
                    
                    {% if perms.blog.delete_blog %}
                    <td><a href="{% url "delete_blog" blog.id %}">❌</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock content %}
