{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Blog {% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->

<!---->

{% block content %}
<main class="dashboard">
    {% include "dashboard/includes/sidebar-menu.html" %}

    <section class="change-password__section">
        <form action="" method="POST" novalidate class="change-password__section--form">
            {% csrf_token %}

            <div class="change-password__section--form--fields">
                {% for fm in form %}
                <div class="change-password__section--form--fields--input">
                    {{ fm.label_tag }} {{ fm }}
                    <span class="change-password__section--form--fields--input--error">{{ fm.errors|striptags }}</span>
                </div>
                {% endfor %}
            </div>

            <div class="change-password__section--form--btns">
                <input type="submit" value="Change" />
                <input type="reset" value="Reset" />
            </div>
        </form>
    </section>
</main>
{% endblock content %}
