{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Login {% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->

{% block content %}

<main class="login__main">
    <header class="login__main--header"></header>

    <section class="login__main__section">
        <form action="" method="POST" class="login__main__section--form" novalidate>
            {% csrf_token %}

            <!---->

            <div class="login__main__section--form--fields">
                {% for fm in form %}
                <div class="login__main__section--form--fields--input">
                    {{ fm.label_tag }} {{ fm }}
                    <span class="login__main__section--form--fields--input--error">{{ fm.errors|striptags }}</span>
                </div>
                {% endfor %}
            </div>

            <!---->

            <div class="login__main__section--form--btn">
                <input type="submit" value="Login" />
            </div>
        </form>
    </section>
</main>

{% endblock content %}

<!---->
