{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Login {% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->

{% block header %}
<header>
    <h2>Header (change later)</h2>
</header>
{% endblock header %}

<!---->

{% block content %}

<section class="login-section">
    <form action="" method="POST" novalidate>
        {% csrf_token %}

        <!---->

        <div>
            {% for fm in form %}
            <div>{{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}</div>
            {% endfor %}
        </div>

        <!---->

        <input type="submit" value="Login" />
    </form>
</section>

{% endblock content %}

<!---->
