{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}SignUp{% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->

{% block header %}
<header>Header (Change Later)</header>
{% endblock header %}

<!---->

{% block content %}

<section class="sign-up__section">
    <form action="" method="POST" novalidate>
        {% csrf_token %}

        <!---->

        <div>
            {% for fm in form %}
            <div>{{ fm.label_tag }} {{ fm }} {{ fm.errors|striptags }}</div>
            {% endfor %}
        </div>

        <!---->

        <input type="submit" value="Sign Up" />
    </form>
</section>

{% endblock content %}
