{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}SignUp{% endblock title %}

<!---->

{% block css_style %} <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}"> {% endblock css_style %}

<!---->
{% block content %}
<main class="sign-up__main">
    <header class="sign-up__main--header"></header>

    <section class="sign-up__section">
        <form action="" method="POST" class="sign-up__section--form" novalidate>
            {% csrf_token %}

            <!---->

            <div class="sign-up__section--form--fields">
                {% for fm in form %}
                <div class="sign-up__section--form--fields--input">
                    {{ fm.label_tag }} {{ fm }}
                    <span class="sign-up__section--form--fields--input--error">{{ fm.errors|striptags }}</span>
                </div>
                {% endfor %}
            </div>

            <!---->

            <div class="sign-up__section--form--btn">
                <input type="submit" value="Sign Up" />
            </div>
        </form>
    </section>
</main>
{% endblock content %}
