<aside class="dashboard__aside">
        <ul  class="dashboard__aside--ul">
            <li
            {% if request.path == "/dashboard/" %}
            class="active-path"
            {% endif %}
            ><a href="{% url "dashboard" %}">Dashboard</a></li>

            <li
            {% if request.path == "/dashboard/edit-profile/" %}
            class="active-path"
            {% endif %}
            ><a href="{% url "edit_profile_view" %}">Edit Profile</a></li>
            
            <li
            {% if request.path == "/dashboard/change-password/" %}
            class="active-path"
            {% endif %}
            ><a href="{% url "change_password_view" %}">Change Password</a></li>
            
            <li
            {% if request.path == "/dashboard/blogs/" %}
            class="active-path"
            {% endif %}
            ><a href="{% url "blogs_view" %}">Blogs</a></li>

            {% if perms.blog.add_blog %}
            <li
            {% if request.path == "/add-blog/" %}
            class="active-path"
            {% endif %}
            ><a href="{% url "add_blog" %}">Add New Blog</a></li>
            {% endif %}
        </ul>
    </aside>

